.preview-card {
    position: relative;
    display: grid;
    align-content: end;
    text-decoration: none;
    overflow: hidden;
    border-radius: 20px;
    width: 358px;
    height: 415px;
    padding: 20px;
    transition: height $transition-time, width $transition-time;

    &:hover &__image {
        transform: scale(1.1) translateZ(0);
    }

    &:hover .link.link--theme--primary .link__name {
        border-bottom-color: $color-1;
    }

    &:hover .link__icon {
        transform: rotate(-45deg);
    }

    .link {
        &__icon {
            width: 30px;
            height: 30px;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform $transition-time;
    }

    &__block-info {
        position: relative;
        z-index: 1;
        display: grid;
        grid-row-gap: 30px;
    }

    &__title {
        color: $color-1;
        font-weight: 600;
        font-size: 20px;
    }
}