<div class="events" data-events="main">
    <div class="swiper events__slider" data-events="slider">
        <div class="swiper-wrapper" data-events="swiper-wrapper"></div>
        <button type="button" class="arrow events__btn events__btn--prev" data-events="btn-prev">
            <svg class="arrow__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
            </svg>
        </button>
        <button type="button" class="arrow events__btn events__btn--next" data-events="btn-next">
            <svg class="arrow__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
            </svg>
        </button>
    </div>
</div>