<div class="events" data-events="main">
    <div class="swiper events__slider" data-events="slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#" class="events__event">
                    <span class="events__date">13/12/22</span>
                    <span class="events__name">МаСТЕР- КЛАСС «5 ПСИХОТИПОВ ПОКУПАТЕЛЕЙ В ФЭШН– ЗНАТЬ И ВЛИЯТЬ! КАКИЕ ТРИГГЕРЫ У ЦЕЛЕВОЙ АУДИТОРИИ ВАШЕГО БРЕНДА?»</span>
                    <div class="events__block-info">
                        <div class="label">
                            <span class="label__name">Для предпринимателей</span>
                        </div>
                        <span class="link link--theme--secondary">
                            <span class="link__name">Подробнее</span>
                            <svg class="link__icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down-right"/>
                            </svg>
                        </span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="events__event">
                    <span class="events__date">12/12/22</span>
                    <span class="events__name">МаСТЕР- КЛАСС «5 ПСИХОТИПОВ ПОКУПАТЕЛЕЙ В ФЭШН– ЗНАТЬ И ВЛИЯТЬ! КАКИЕ ТРИГГЕРЫ У ЦЕЛЕВОЙ АУДИТОРИИ ВАШЕГО БРЕНДА?»</span>
                    <div class="events__block-info">
                        <div class="label">
                            <span class="label__name">Для предпринимателей</span>
                        </div>
                        <span class="link link--theme--secondary">
                            <span class="link__name">Подробнее</span>
                            <svg class="link__icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down-right"/>
                            </svg>
                        </span>
                    </div>
                </a>
            </div>
        </div>
        <button type="button" class="arrow events__btn events__btn--prev" data-arrow="btn-prev">
            <svg class="arrow__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
            </svg>
        </button>
        <button type="button" class="arrow events__btn events__btn--next" data-arrow="btn-next">
            <svg class="arrow__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
            </svg>
        </button>
    </div>
</div>