<section class="performance" data-performance="main">
    <div class="container">
        <div class="performance__block-info">
            <h1 class="title title--h1 title-reset">Поддержка малого бизнеса</h1>
            <span class="performance__subtitle">Комплексная поддержка предпринимателей Краснодарского края</span>
            
            <div class="performance__block-nav-slider">
                <div class="pagination" data-pagination="main">
                    <span class="pagination__count" data-pagination="count-start">01</span>
                    <div class="pagination__points" data-pagination="points"></div>
                    <span class="pagination__count" data-pagination="count-finish">07</span>
                </div>
                <div class="box-arrows" data-box-arrows="main">
                    <button type="button" class="arrow" data-box-arrows="btn-prev">
                        <svg class="arrow__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                        </svg>
                    </button>
                    <button type="button" class="arrow" data-box-arrows="btn-next">
                        <svg class="arrow__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="swiper performance__slider" data-performance="slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">

                </div>
            </div>
        </div>
    </div>
</section>