<section class="performance" data-performance="main">
    <div class="container">
        <div class="performance__block-info">
            <div class="performance__block-head">
                <h1 class="title title--h1 title-reset">Поддержка малого бизнеса</h1>
                <span class="performance__subtitle">Комплексная поддержка предпринимателей Краснодарского края</span>
                <button type="button" class="btn btn--size--bg btn--theme--primary">
                    <span class="btn__text">Оставить заявку</span>
                </button>
            </div>
            <div class="performance__block-nav-slider">
                <div class="pagination" data-pagination="main">
                    <span class="pagination__count" data-pagination="count-start"></span>
                    <div class="pagination__points" data-pagination="points"></div>
                    <span class="pagination__count" data-pagination="count-finish"></span>
                </div>
                <div class="box-arrows">
                    <button type="button" class="arrow" data-arrow="btn-prev">
                        <svg class="arrow__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                        </svg>
                    </button>
                    <button type="button" class="arrow" data-arrow="btn-next">
                        <svg class="arrow__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="swiper performance__slider" data-performance="slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="preview-card">
                        <img src="./assets/images/image-1.jpg" class="preview-card__image" loading="lazy" alt="">
                        <div class="preview-card__block-info">
                            <span class="preview-card__title">Школа молодого предпринимателя — Бизнес молодых</span>
                            <div class="link link--theme--primary">
                                <span class="link__name">Подробнее</span>
                                <svg class="link__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down-right"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="preview-card">
                        <img src="./assets/images/image-2.jpg" class="preview-card__image" loading="lazy" alt="">
                        <div class="preview-card__block-info">
                            <span class="preview-card__title">Поддержка самозанятых</span>
                            <div class="link link--theme--primary">
                                <span class="link__name">Подробнее</span>
                                <svg class="link__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down-right"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="preview-card">
                        <img src="./assets/images/image-3.jpg" class="preview-card__image" loading="lazy" alt="">
                        <div class="preview-card__block-info">
                            <span class="preview-card__title">Центр поддержки предпринимательства</span>
                            <div class="link link--theme--primary">
                                <span class="link__name">Подробнее</span>
                                <svg class="link__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down-right"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="preview-card">
                        <img src="./assets/images/image-4.jpg" class="preview-card__image" loading="lazy" alt="">
                        <div class="preview-card__block-info">
                            <span class="preview-card__title">Центр сопровождения инвестиционных проектов</span>
                            <div class="link link--theme--primary">
                                <span class="link__name">Подробнее</span>
                                <svg class="link__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down-right"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="preview-card">
                        <img src="./assets/images/image-5.jpg" class="preview-card__image" loading="lazy" alt="">
                        <div class="preview-card__block-info">
                            <span class="preview-card__title">Патентная система налогообложения</span>
                            <div class="link link--theme--primary">
                                <span class="link__name">Подробнее</span>
                                <svg class="link__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down-right"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>
        </div>
    </div>
</section>