<a href="#" class="preview-card">
    <img src="./assets/images/image-1.jpg" class="preview-card__image" loading="lazy" alt="">
    <div class="preview-card__block-info">
        <span class="preview-card__title">Школа молодого предпринимателя — Бизнес молодых</span>
        <div class="link link--theme--primary">
            <span class="link__name">Подробнее</span>
            <svg class="link__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down-right"/>
            </svg>
        </div>
    </div>
</a>