.social-network {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    justify-content: start;
    grid-column-gap: 10px;

    &__link {
        transition: opacity $transition-time;

        &:hover {
            opacity: 0.6;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
    }
}