.title {
    line-height: 1.21em;
    font-weight: 600;
    text-transform: uppercase;

    &--h1 {
        @include adaptiv-font(46, 20);
    }

    &--h2 {
        @include adaptiv-font(46, 20);
    }
}