@media screen and (max-width: 620px) {
    .logo {
        width: 130px;
        height: 34px;

        &__image {
            object-position: center left;
        }
    }

    .header {
        padding: 10px 0;

        .container {
            grid-template-columns: max-content auto max-content;
            justify-content: inherit;
            grid-column-gap: 15px;
        }

        .logo {
            order: 1;
        }

        &__block-links {
            order: 2;
            justify-content: end;
        }

        &__block-btns {
            order: 3;
            grid-column-gap: 15px;
            
            .header__btn {
                &:last-child {
                    order: 1;
                }

                &:first-child {
                    order: 2;
                }
            }
        }
    }

    .phone {
        &__icon {
            display: block;
            width: 24px;
            height: 24px;
        }

        &__number {
            display: none;
        }
    }

    .title {
    
        &--h1,
        &--h2 {
            font-size: 20px;
        }
    }

    .performance {

        .container {
            grid-template-columns: minmax(100px, 1fr);
        }

        .btn {
            width: 100%;
            margin-top: 0;
        }


        .preview-card {

            &__title {
                transform: translateY(35px);
            }
        }

        &__slider {
            order: 1;
        }

        &__block-info {
            order: 2;
            margin-top: 20px;
        }

        &__subtitle,
        .title {
            display: none;
        }

        &__block-nav-slider {
            order: 1;
            margin-top: 0;
        }

        &__block-head {
            order: 2;
            margin-top: 30px;
        }

        &__slider {
            height: 300px;

            .swiper-slide {
                width: 100%;

                // &.swiper-slide-active {
                //     width: 100%;
                // }
            }
        }
    }

    .preview-card {
        padding: 30px 20px;

        &__title {
            font-size: 16px;
        }

        .link {
    
            &__icon {
                width: 20px;
                height: 20px;
            }
        }
    }

    .box-arrows {
        .arrow {
            width: 30px;
            height: 30px;
        }
    }

    .link {

        &__name {
            font-size: 14px;
        }

        &__icon {
            width: 20px;
            height: 20px;
        }
    }

    .section {
        &__title,
        &__title.title {
            margin-bottom: 20px;
        }
    }

    .event-poster {
        &__content {
            grid-template-columns: minmax(100px, 1fr);
            grid-row-gap: 20px;
            height: max-content;
        }
    }

    .calendar {
        height: 292px;

        &__weekdays {
            margin: 10px 0 0 0;
        }
    }

    .events {
        height: 240px;
    }

    .modal {
        &.hystmodal {
            .hystmodal {
                &__window {
                    padding: 40px 20px;
                }

                &__close {
                    top: 16px;
                    right: 16px;
                    width: 25px;
                    height: 25px;
                }
            }
        }

        &__title {
            display: inline-block;
            max-width: 90%;
        }

        &__close-icon {
            width: 25px;
            height: 25px;
        }
    }

    .m-form {
        .form {
            margin-top: 15px;
        }
    }

    .input {
        &__input {
            font-size: 12px;
            padding: 0 7px 8px 7px;
        }

        &__message {
            padding: 5px 7px 0 7px;
            font-size: 11px;
        }
    }

    .textarea {
        padding: 7px;
        font-size: 12px;
    }

    .select {
        &__block-title {
            padding: 0 6px 8px 7px;
        }

        &__icon {
            width: 20px;
            height: 20px;
        }

        &__message {
            padding: 5px 7px 0 7px;
            font-size: 11px;
        }
    }

    .form {

        .btn {
            width: 100%;
            margin-top: 20px;
        }

        .textarea {
            margin-top: 20px;
        }
    }

    .checkbox {
        &__text {
            font-size: 11px;
        }

        &__label {
            padding-left: 24px;
        }

        &__decore {
            width: 14px;
            height: 14px;

            &::after {
                width: 12px;
                height: 12px;
            }
        }
    }
}