@media screen and (max-width: 1024px) {
    .container {
        max-width: 880px;
    }

    .header {
        padding: 12px 0;

        &__btn-name {
            font-size: 14px;
        }
    }

    .phone {
        &__number {
            font-size: 14px;
        }
    }

    .logo {
        width: 180px;
        height: 46px;
    }
}