@media screen and (max-width: 420px) {
    .logo {
        width: 130px;
        height: 34px;

        &__image {
            object-position: center left;
        }
    }

    .header {
        padding: 10px 0;

        .container {
            grid-template-columns: max-content auto max-content;
            justify-content: inherit;
            grid-column-gap: 15px;
        }

        .logo {
            order: 1;
        }

        &__block-links {
            order: 2;
            justify-content: end;
        }

        &__block-btns {
            order: 3;
            grid-column-gap: 15px;
            
            .header__btn {
                &:last-child {
                    order: 1;
                }

                &:first-child {
                    order: 2;
                }
            }
        }
    }

    .phone {
        &__icon {
            display: block;
            width: 24px;
            height: 24px;
        }

        &__number {
            display: none;
        }
    }

    .title {
    
        &--h1,
        &--h2 {
            font-size: 20px;
        }
    }
}