@media screen and (max-width: 768px) {
    .container {
        max-width: 610px;
    }

    .header {
        padding: 8px 0;

        &__btn-name,
        .social-network {
            display: none;
        }
    }

    .logo {
        width: 170px;
        height: 44px;
    }

    .title {
    
        &--h1,
        &--h2 {
            font-size: 24px;
        }
    }

    .performance {
        .container {
            grid-template-columns: 250px 300px;
        }

        .btn {
            margin-top: 18px;
        }

        .preview-card {

            &__title {
                transform: translateY(45px);
            }
        }

        &__block-nav-slider {
            margin-top: 38px;
        }

        &__slider {
            height: 320px;

            // .swiper-slide {

            //     &.swiper-slide-active {
            //         width: 300px;
            //     }
            // }
        }
    }

    .preview-card {
        width: 240px;
        height: 270px;
        border-radius: 15px;

        &__title {
            font-size: 14px;
        }

        &__block-info {
            grid-row-gap: 15px;
        }
    }

    .btn {

        &--size--bg {
            width: 172px;
            height: 40px;
            padding: 5px 30px;

            .btn__text {
                font-size: 14px;
            }
        }
    }

    .event-poster {
        &__content {
            grid-template-columns: 270px minmax(100px, auto);
            grid-column-gap: 30px;
            height: 302px;
        }
    }

    .page {
        padding-bottom: 80px;
    }

    .events {

        .link {
            display: none;
        }

        .arrow {
            width: 20px;
            height: 20px;
        }

        &__event {
            border-radius: 15px;
            padding: 20px;
        }

        &__date {
            font-size: 24px;
        }

        &__name {
            font-size: 14px;
            line-height: 1.35em;
        }
    }

    .calendar {
        padding: 20px;
        border-radius: 15px;

        .arrow {
            width: 30px;
            height: 30px;
        }

        &__month-name,
        &__year-name {
            font-size: 14px;
        }

        &__days {
            grid-template-columns: repeat(7, 24px);
        }

        &__date {
            font-size: 14px;
            height: 24px;
        }
    }

    .label {
        &__name {
            font-size: 14px;
        }
    }

    .section {
        padding-top: 60px;

        &__title,
        &__title.title {
            margin-bottom: 30px;
        }
    }
}