@media screen and (max-width: 1024px) {
    .container {
        max-width: 880px;
    }

    .header {
        padding: 12px 0;

        &__btn-name {
            font-size: 14px;
        }
    }

    .phone {
        &__number {
            font-size: 14px;
        }
    }

    .logo {
        width: 180px;
        height: 46px;
    }

    .title {
    
        &--h1,
        &--h2 {
            font-size: 32px;
        }
    }

    .performance {
        .container {
            grid-template-columns: minmax(250px, 338px) 470px;
        }

        .btn {
            margin-top: 20px;
        }

        .preview-card {

            &__title {
                transform: translateY(40px);
            }
        }

        &__block-info {
            &::before {
                right: -20px;
            }
        }

        &__subtitle {
            font-size: 16px;
        }

        &__block-head {
            grid-row-gap: 10px;
        }

        &__block-nav-slider {
            margin-top: 70px;
        }

        &__slider {
            height: 400px;

            // .swiper-slide {

            //     &.swiper-slide-active {
            //         width: 340px;
            //     }
            // }
        }
    }

    .box-arrows {
        .arrow {
            width: 24px;
            height: 24px;
        }
    }

    .pagination {
        .swiper-horizontal > .swiper-pagination-bullets, 
        .swiper-pagination-bullets.swiper-pagination-horizontal, 
        .swiper-pagination-custom, 
        .swiper-pagination-fraction {
            width: 72px;
        }

        &__count {
            font-size: 16px;
        }
    }

    .btn {

        &--size--bg {
            width: 208px;
            height: 50px;

            .btn__text {
                font-size: 16px;
            }
        }
    }

    .preview-card {
        width: 302px;
        height: 350px;

        .link {
            &__name {
                font-weight: 400;
            }
        }

        &__title {
            font-size: 16px;
        }

        &__block-info {
            grid-row-gap: 10px;
        }
    }

    .link {
        &__name {
            font-size: 16px;
        }

        &__icon {
            width: 30px;
            height: 30px;
        }
    }

    .section {
        padding-top: 80px;

        &__title,
        &__title.title {
            margin-bottom: 40px;
        }
    }

    .event-poster {
        &__content {
            grid-template-columns: 287px minmax(100px, auto);
            grid-column-gap: 20px;
            height: 340px;
        }
    }

    .calendar {
        padding: 30px 20px 24px 20px;

        &__month-name,
        &__year-name {
            font-size: 20px;
        }

        &__weekdays {
            margin: 20px 0 0 0;
            grid-template-columns: repeat(7, 24px);
            grid-column-gap: 10px;

            li {
                font-size: 16px;
            }
        }

        &__days {
            grid-column-gap: 10px;
            justify-content: space-between;
            grid-row-gap: 7px;
            margin: 7px 0 0 0;
            grid-template-columns: repeat(7, 28px);
        }

        &__date {
            font-size: 16px;
            height: 28px;
        }
    }

    .events {

        .link {

            &__name {
                font-weight: 400;
            }
        }

        &__date {
            font-size: 32px;
        }

        &__event {
            padding: 40px 50px;
        }

        &__name {
            font-size: 20px;
        }
    }
}