<header class="header">
    <div class="container">
        <div class="header__block-btns">
            <button class="header__btn">
                <svg class="header__btn-icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#menu"/>
                </svg>
                <span class="header__btn-name">Меню</span>
            </button>
            <button class="header__btn">
                <svg class="header__btn-icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#search"/>
                </svg>
                <span class="header__btn-name">Поиск</span>
            </button>
        </div>
        <a href="#" class="logo link-reset">
            <img src="./assets/images/logo.svg" class="logo__image" alt="">
        </a>
        <div class="header__block-links">
            <a href="tel:88007070711" class="phone link-reset">
                <svg class="phone__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#phone"/>
                </svg>
                <span class="phone__number">8 (800) 707-07-11</span>
            </a>
            <div class="social-network">
                <a href="#" class="social-network__link link-reset">
                    <svg class="social-network__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#odnoklassniki"/>
                    </svg>
                </a>
                <a href="#" class="social-network__link link-reset">
                    <svg class="social-network__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#vk"/>
                    </svg>
                </a>
                <a href="#" class="social-network__link link-reset">
                    <svg class="social-network__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#telegram"/>
                    </svg>
                </a>
                <a href="#" class="social-network__link link-reset">
                    <svg class="social-network__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#rutube"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>