@import '_vars';
@import '_mixins';

.container {
    width: 100%;
    max-width: 1210px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.scroll-lock {
    overflow: hidden;
}

.hidden {
    display: none;
}

a {
    color: $color-2;
    transition: color $transition-time;

    &:hover {
        color: $color-3;
    }
}

.title-reset {
    margin: 0;
}

.link-reset {
    text-decoration: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
