// Colors

$main-color: #232329;

$color-1: #fff;
$color-2: #DE4F3F;
$color-3: #E04E39;
$color-4: #F4E7DC;
$color-5: #E9E9F0;
$color-6: rgba(35, 35, 41, 0.5);
$color-7: #A92617;

// Fonts

$main-font: 'Gilroy';

// Other

$transition-time: 0.3s;

$maxWidth: 1920;